<div
  class="fixed top-0 flex align-items-center justify-content-between p-3 surface-100 shadow-3 z-5 w-full"
>
  <!-- Logo -->
  <div routerLink="/" class="flex align-items-center gap-2 cursor-pointer">
    <!-- <i class="pi pi-building-columns text-primary text-2xl"></i> -->
    <img src="logoPng.png" class="w-2" />
    <span class="text-xl font-light">Cristo<span class="text-primary font-bold">Re</span> </span>
  </div>

  <!-- Menu -->
  <div class="hidden md:flex align-items-center gap-2">
    @for (item of menuItems; track $index) {
      <p-button [routerLink]="item.link" [label]="item.label" variant="text" />
    }
    <p-button severity="contrast" [rounded]="true" icon="pi pi-moon" (click)="toggleTheme()" />
  </div>

  <!-- Icona mobile -->
  <p-button icon="pi pi-bars" class="md:hidden" (click)="menuVisible = !menuVisible" text>
  </p-button>
</div>

<!-- Menu mobile -->
<p-drawer [(visible)]="menuVisible" position="right">
  <div class="flex flex-column gap-3 mt-4">
    @for (item of menuItems; track $index) {
      <p-button [routerLink]="item.link" [label]="item.label" variant="text" />
    }
    <p-button
      severity="contrast"
      [rounded]="true"
      icon="pi pi-moon"
      (click)="toggleTheme()"
      class="p-button-rounded p-button-text mr-2"
    />
  </div>
</p-drawer>
